/* src/styles/App.css */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black; /* body 배경색을 검은색으로 설정 */
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%; /* 높이를 100%로 설정 */
    transition: transform 0.3s ease;
    background-color: white; /* root 배경색을 흰색으로 설정 */
}

#root.footer-open {
    transform: translateY(-10px); /* 푸터가 열렸을 때의 이동 거리 */
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 100px;
    width: 100%; /* 전체 너비를 사용 */
    height: 100%; /* 높이를 100%로 설정 */
    min-height: 100vh; /* 최소 높이를 100vh로 설정 */
}

/* 추가된 스타일 */
.page {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    flex-grow: 1;
    width: 100%; /* 전체 너비를 사용 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1200px) {
    .container {
        padding: 20px; /* 큰 화면에서의 여백 조정 */
    }
}

@media (max-width: 992px) {
    .container {
        padding: 15px; /* 중간 화면에서의 여백 조정 */
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px; /* 작은 화면에서의 여백 조정 */
    }
}

@media (max-width: 576px) {
    .container {
        padding: 5px; /* 매우 작은 화면에서의 여백 조정 */
    }
}
