/* App.css */
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .main-page {
    flex: 1; /* 페이지 컨텐츠가 남는 공간을 채우도록 설정 */
    overflow-y: auto; /* 세로 스크롤 가능하도록 설정 */
  }
  
  
  /* 기본 스타일 추가 */
  body, html, #root {
    margin: 0;
    padding: 0;
  }
