.attendance-page {
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.attendance-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.calendar-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar {
  width: 100%;
  max-height: 80%;
  background: transparent;
  border: none;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
  color: #ff6600;
  min-width: 44px;
  background: transparent;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__tile {
  max-width: 100%;
  background: transparent;
  text-align: center;
  line-height: 2.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  position: relative;
}

.react-calendar__tile--now {
  background: #ffcc99;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background: #ff6600;
  color: white;
  border-radius: 10px;
}

.present-day .highlight-dot {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #ff6600;
  border-radius: 50%;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .attendance-container {
    padding: 5px;
  }

  .react-calendar__navigation button {
    font-size: 14px;
  }

  .react-calendar__tile {
    font-size: 12px;
  }
}

/* 360px 이상의 화면 크기에서 적용 */
@media (min-width: 360px) {
  .react-calendar__tile {
    font-size: 12px; /* 작은 화면에서의 폰트 크기 */
  }
}

/* 768px 이상의 화면 크기에서 적용 */
@media (min-width: 768px) {
  .react-calendar__tile {
    font-size: 14px; /* 중간 화면에서의 폰트 크기 */
  }
}

/* 1024px 이상의 화면 크기에서 적용 */
@media (min-width: 1024px) {
  .react-calendar__tile {
    font-size: 16px; /* 큰 화면에서의 폰트 크기 */
  }
}
