.exercise-modified-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  overflow-y: auto;
  margin-bottom: 150px;
}

.exercise-modified-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 30px;
}

.exercise-modified-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #ff6600;
}

.exercise-main-progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 10px 0;
  background-color: white;
  border-bottom: 2px solid #ff6600;
}

.exercise-main-progress-step {
  font-size: 1em;
  color: grey;
  margin: 0 10px;
  position: relative;
}

.exercise-main-progress-step.active {
  color: #ff6600;
  font-weight: bold;
}

.exercise-main-progress-step::after {
  content: '>';
  position: absolute;
  right: -15px;
  color: #ff6600;
}

.exercise-main-progress-step:last-child::after {
  content: '';
}

.exercise-modified-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exercise-modified-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
}

.exercise-modified-info h2 {
  margin: 0 0 15px;
  font-size: 1.2em;
  color: #ff6600;
}

.basic-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 1em;
  box-sizing: border-box;
}

.exercise-input-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.exercise-input-row input,
.exercise-input-row select {
  flex: 1;
}

.add-exercise-button {
  align-self: flex-end;
  margin-top: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e65c00;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise-modified-submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.exercise-modified-submit-button:hover,
.exercise-modified-submit-button:active {
  background-color: #e65c00;
}

.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.exercise-text {
  flex-grow: 1;
  padding-right: 10px;
}

.remove-exercise-button {
  background-color: white;
  color: #ff6600;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-exercise-button:hover {
  background-color: #e65c00;
  color: white;
}

.exercise-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.register-new-exercise {
  color: #ff6600;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
  align-self: flex-end;
}

.register-new-exercise:hover {
  text-decoration: underline;
}

.exercise-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.exercise-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

@media (max-width: 428px) {
  .exercise-modified-info {
    flex: 1 1 100%;
  }

  .basic-info-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  input[type="number"],
  select {
    padding: 8px;
    border-radius: 25px;
    font-size: 0.8em;
  }

  .exercise-input-row {
    flex-direction: column;
    gap: 5px;
  }
}
