.exercise-page {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.exercise-header {
  display: flex;
  align-items: center;
  justify-content: center; /* 중앙 정렬 */
  padding: 10px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: -5px;
  position: relative;
}

.exercise-title {
  flex: 1;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #ff6600;
}

.question-icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #ff6600; /* 주황색으로 변경 */
  position: absolute;
  right: 10px;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex: 1;
  justify-content: center;
}

.exercise-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  background-color: white;
  border: 2px solid #ff6600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ff6600;
}

.exercise-btn:hover {
  background-color: #ff6600;
  color: white;
}

.exercise-button-icon {
  margin-right: 10px;
  color: inherit;
}

.exercise-button-title {
  font-weight: bold;
  color: inherit;
}

.exercise-btn:active {
  background-color: #ff6600;
  color: white;
}
