.exercise-stats-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.exercise-dashboard {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.exercise-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.exercise-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.kettlebell-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #ff6600; /* Set the color to orange */
}

.exercise-summary-card, .exercise-attendance-card, .exercise-success-rate-card {
  margin-top: 20px;
  width: 100%; /* Ensure the cards take full width */
}

.exercise-card-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.exercise-summary-table {
  width: 100%;
  border-collapse: collapse;
}

.exercise-summary-table th, .exercise-summary-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.exercise-summary-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
