.exercise-calendar-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scroll */
  margin-bottom: 100px;
}

.exercise-calendar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.exercise-custom-header {
  display: flex;
  justify-content: center; /* Center the title */
  align-items: center; /* Align items vertically in the center */
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  color: #ff6600;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Allows positioning of the icon */
}

.tooltip-icon {
  position: absolute; /* Position it absolutely within the header */
  right: 10px; /* Align to the right */
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.tooltip-text {
  display: none; /* Initially hide the tooltip */
  width: 200px; /* Adjust width for multiline */
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px; /* Adjust padding */
  font-size: 0.8em; /* Smaller font size */
  position: absolute;
  z-index: 10; /* Higher z-index to appear above other elements */
  top: 200%; /* Position below the icon */
  left: 50%;
  transform: translateX(-90%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  white-space: normal; /* Allow text wrapping */
}

.tooltip-icon.active .tooltip-text {
  display: block; /* Show tooltip when icon is active */
  visibility: visible;
  opacity: 1;
}

.tooltip-icon .question-icon {
  color: #ff6600;
}

.exercise-calendar-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar {
  width: 100%;
  max-height: 80%;
  background: transparent;
  border: none;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
  color: #ff6600;
  min-width: 44px;
  background: transparent;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__tile {
  max-width: 100%;
  background: transparent;
  text-align: center;
  line-height: 2.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  position: relative;
}

.react-calendar__tile--now {
  background: #ffcc99;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background: #ff6600;
  color: white;
  border-radius: 10px;
}

.exercise-present-day {
  position: relative;
}

.exercise-present-day .exercise-highlight-dot {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #ff6600;
  border-radius: 50%;
}

.daily-records-container {
  margin-top: 20px;
  text-align: center;
  max-height: 400px;
  overflow-y: auto; /* Enable vertical scroll */
}

.daily-records {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.daily-records ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.daily-record {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #ff6600;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.daily-record:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.daily-record:active {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.daily-record h3 {
  margin: 5px 0;
  color: white;
  font-weight: bold;
}

.daily-record.MAIN,
.daily-record.MODIFIED,
.daily-record.ADDITIONAL {
  border: 1px solid #ddd;
}

.daily-record.MODIFIED .record-type,
.daily-record.ADDITIONAL .record-type {
  font-weight: bold;
}

.no-records-box {
  background-color: #ffe6cc; /* Soft orange background */
  color: #ff6600; /* Orange font */
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  width: 100%;
}

.no-records-box i {
  font-size: 28px;
  margin-right: 15px;
  color: #ff6600;
}

.no-records-text {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff6600;
}

@media (max-width: 768px) {
  .exercise-calendar-container {
    padding: 5px;
  }

  .react-calendar__navigation button {
    font-size: 14px;
  }

  .react-calendar__tile {
    font-size: 12px;
  }
}

@media (min-width: 360px) {
  .react-calendar__tile {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .react-calendar__tile {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .react-calendar__tile {
    font-size: 16px;
  }
}
