.exercise-main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  margin-bottom: 150px;
}

.exercise-main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 30px;
}

.exercise-main-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #ff6600;
}

.exercise-main-progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 10px 0;
  background-color: white;
  border-bottom: 2px solid #ff6600;
}

.exercise-main-progress-step {
  font-size: 1em;
  color: grey;
  margin: 0 10px;
  position: relative;
}

.exercise-main-progress-step.active {
  color: #ff6600;
  font-weight: bold;
}

.exercise-main-progress-step::after {
  content: '>';
  position: absolute;
  right: -15px;
  color: #ff6600;
}

.exercise-main-progress-step:last-child::after {
  content: '';
}

.exercise-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  width: 100%; /* 전체 너비 사용 */
}

.workout-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exercise-info,
.exercise-record,
.record-content-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%; /* 반응형 레이아웃 조정을 위해 너비 설정 */
}

.exercise-info .workout-detail {
  display: flex;
  flex-direction: column; /* 위아래 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-bottom: 15px;
}

.exercise-info .workout-detail input {
  width: 100%; /* 입력 필드가 꽉 차게 설정 */
  margin-top: 5px;
}

.exercise-record .record-item,
.record-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap; /* Ensure the form elements wrap on smaller screens */
}

.exercise-record .record-item p,
.record-content-title {
  flex: 1;
  margin-bottom: 10px;
}

.exercise-record .record-item input,
.exercise-record .record-item select,
.text-editor {
  flex: 2;
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.text-editor .ql-container {
  height: 200px;
  width: 100%; /* Ensure the editor takes the full width of its container */
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.submit-button:hover,
.submit-button:active {
  background-color: #e65c00;
}

.tooltip {
  position: absolute;
  background-color: #333; /* 검은색 배경 */
  color: #ff6600; /* 주황색 글씨 */
  border-radius: 4px;
  padding: 10px;
  z-index: 10;
}

@media (max-width: 768px) {
  .exercise-info,
  .exercise-record,
  .record-content-container {
    flex: 1 1 100%; /* 작은 화면에서는 한 줄씩 배치 */
  }
  
  .form-input,
  .form-select {
    flex: 1; /* 작은 화면에서는 입력 필드가 더 넓어지도록 설정 */
  }
  
  .text-editor .ql-container {
    height: 150px; /* Adjust height for smaller screens */
    width: 100%; /* Ensure the editor takes the full width on smaller screens */
  }
}
