/* 기본 스타일 설정 */
.find-password-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    font-family: Arial, sans-serif;
}

.find-password-page #findPasswordBox {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.find-password-page #findPasswordBoxTitle {
    font-size: 2rem;
    color: #FF6600;
    margin-bottom: 20px;
    text-align: center;
}

.find-password-page .required-notice {
    font-size: 0.9rem;
    color: #FF6600;
    text-align: right;
    margin-bottom: 10px;
}

.find-password-page .input-form-box {
    margin-bottom: 15px;
    position: relative;
}

.find-password-page .input-with-icon {
    position: relative;
}

.find-password-page .input-with-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.find-password-page .input-with-icon input {
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
}

/* 에러 메시지 스타일 */
.find-password-page .error-message {
    color: #FF6600;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center; /* 가운데 정렬 */
}

/* 버튼 스타일 */
.find-password-page .button-register-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.find-password-page .button-register-box .btn {
    flex: 0 0 48%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-align: center;
    border: none;
}

.find-password-page .button-register-box .btn-primary {
    background-color: #FF6600;
    color: white;
}

.find-password-page .button-register-box .btn-primary:hover {
    background-color: #e55d00;
}

.find-password-page .button-register-box .btn-secondary {
    background-color: white;
    color: #FF6600;
    border: 1px solid #FF6600;
}

.find-password-page .button-register-box .btn-secondary:hover {
    background-color: #FF6600;
    color: white;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
    .find-password-page #findPasswordBox {
        margin: 20px;
        width: 100%;
    }

    .find-password-page #findPasswordBoxTitle {
        font-size: 1.5rem;
    }

    .find-password-page .input-with-icon i {
        font-size: 1rem;
    }

    .find-password-page .input-with-icon input {
        font-size: 0.9rem;
    }

    .find-password-page .button-register-box .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .find-password-page .button-register-box {
        flex-direction: row;
    }

    .find-password-page .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
