.footer {
    background-color: #000000; /* 검은색 배경 */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: height 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.footer.open {
    height: 120px;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px; /* 초기 높이 */
    transition: height 0.3s ease;
    background-color: #000000; /* 검은색 배경 */
}

.menu-item {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    color: #ffffff;
}

.menu-text {
    margin-top: 4px;
    font-size: 12px;
    text-align: center; /* 텍스트를 가운데 정렬 */
}

.footer-text {
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    opacity: 0; /* 처음에는 텍스트를 숨김 */
    transition: opacity 0.3s ease;
}

.footer.open .footer-text {
    opacity: 1; /* 푸터가 열릴 때 텍스트를 보이게 함 */
}

.attendance-item {
    position: relative;
    top: -20px;
}

.attendance-icon {
    background-color: #000000;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attendance-item .menu-text {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #e65c00;
}
