.head-container-title {
  display: flex;
  align-items: center;
  padding: 10px 20px; /* 상하 패딩을 줄임 */
  background-color: #ff6600; /* Orange background */
  position: relative;
  justify-content: space-between; /* Ensure space between title and buttons */
}

.head-container.with-title {
  justify-content: flex-start;
}

.head-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  color: white; /* White font color */
}

.head-title .title-link {
  color: inherit; /* Makes sure the link inherits the color from the parent */
  text-decoration: none; /* Removes underline from the link */
}

.head-title .title-link:hover {
  text-decoration: underline; /* Adds underline on hover */
}

.head-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.insert-button-head,
.search-button-head,
.notification-button-head {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.3s, transform 0.3s;
}

.insert-button-head:hover,
.search-button-head:hover,
.notification-button-head:hover {
  color: #e65c00; /* Slightly darker orange on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}
