.head-container-title {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ff6600; /* Orange background */
    position: relative;
}

.head-container.with-title {
    justify-content: flex-start;
}

.head-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: white; /* White font color */
}

.head-icons {
    display: none; /* Remove icons */
}

  .head-title .title-link {
    color: inherit; /* Makes sure the link inherits the color from the parent */
    text-decoration: none; /* Removes underline from the link */
  }
  
  .head-title .title-link:hover {
    text-decoration: underline; /* Adds underline on hover */
  }
  