/* src/styles/Header.css */
.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* 예시로 추가된 배경색 */
}

.info-section {
  text-align: right;
}

.attendance-info {
  margin: 0;
}

.highlight {
  font-weight: bold;
  font-size: 20px; /* 폰트 크기를 20px로 변경 */
  color: orange; /* 주황색으로 변경 */
}
