.inbody-page {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.inbody-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: 40%; /* 버튼 영역의 높이를 40%로 설정 */
}

.button-container .btn {
    background-color: white;
    border: 2px solid #FF6600; /* 테두리 색상 설정 */
    color: #FF6600; /* 폰트 색상 설정 */
    cursor: pointer;
    font-size: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-container .btn-register {
    grid-column: 1 / span 2;
}

.button-container .btn:hover {
    background-color: #FF6600;
    color: white; /* 호버 시 폰트 색상 변경 */
}

.button-container .btn:hover .button-icon {
    color: white; /* 호버 시 아이콘 색상 변경 */
}

.button-icon {
    font-size: 40px;
    color: #FF6600; /* 아이콘 색상 설정 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-title {
    position: absolute;
    bottom: 10px;
    right: 16px;
    color: #FF6600;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 10;
}

.button-container .btn:hover .button-title {
    color: white; /* 호버 시 텍스트 색상 변경 */
}

.chart-label {
    color: #FF6600;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0; /* 기본 간격 설정 */
}

.chart-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80%;
    margin-top: -120px; /* 기본 간격 설정 */
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    .chart-label {
        margin: 10px 0; /* 작은 화면에서는 간격을 줄임 */
        
    }

    .chart-container {
        margin-top: -185px; /* 작은 화면에서는 간격을 줄임 */
    }
}

@media (max-width: 480px) {
    .chart-label {
        margin: 5px 0; /* 더 작은 화면에서는 간격을 더 줄임 */
        font-size: 18px;
    }

    .chart-container {
        margin-top: -185px; /* 더 작은 화면에서는 간격을 더 줄임 */
    }
}
