.inbody-page {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.inbody-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: 40%;
}

.button-container .btn {
    background-color: white;
    border: 2px solid #FF6600;
    color: #FF6600;
    cursor: pointer;
    font-size: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-container .btn-register {
    grid-column: 1 / span 2;
}

.button-container .btn:hover {
    background-color: #FF6600;
    color: white;
}

.button-container .btn:hover .button-icon {
    color: white;
}

.button-icon {
    font-size: 40px;
    color: #FF6600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-title {
    position: absolute;
    bottom: 10px;
    right: 16px;
    color: #FF6600;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 10;
}

.button-container .btn:hover .button-title {
    color: white;
}

.chart-label {
    color: #FF6600;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Add this to bring the icon closer */
}
.chart-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-top: -30px;
}

.tooltip-icon {
    display: inline-flex; /* Keep it aligned with the text */
    margin-left: 5px; /* Adjust spacing if needed */
    cursor: pointer;
}

.question-icon {
    color: #888;
    font-size: 16px;
}

.tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 0.9;
}
