.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
}

.button-item {
    position: relative;
    background-color: #ff6600e3; /* Orange background */
    border: none;
    border-radius: 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-item:hover {
    background-color: #ff8c00e4; /* Darker orange on hover */
}

.button-icon {
    font-size: 40px; /* Adjust size as needed */
    color: white;
    pointer-events: none;
}

.button-title {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 10;
}

/* Mobile View */
@media (min-width: 360px) {
    .button-container {
        grid-template-columns: 1fr 1fr;
    }
    .button-item:nth-child(1),
    .button-item:nth-child(4) {
        grid-column: span 2;
    }
}

/* Tablet View */
@media (min-width: 768px) {
    .button-container {
        grid-template-columns: 1fr 1fr;
    }
    .button-item:nth-child(1),
    .button-item:nth-child(4) {
        grid-column: span 2;
    }
}

/* Desktop View */
@media (min-width: 1024px) {
    .button-container {
        grid-template-columns: 1fr 1fr;
    }
    .button-item:nth-child(1),
    .button-item:nth-child(4) {
        grid-column: span 2;
    }
}
