.main-contanier-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.main-header {
  text-align: center;
  margin-bottom: 20px;
}

.main-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.main-subtitle {
  font-size: 1rem;
  color: #ff6600e3;
  margin-top: 10px;
}

.main-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.main-button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6600e3;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  position: relative;
  height: 100px; /* 버튼 높이 고정 */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-button-item:hover {
  background-color: #ff8c00e4;
}

.large-button {
  grid-column: span 2;
}

.small-button {
  grid-column: span 1;
}

.main-button-icon {
  font-size: 2rem;
}

.main-button-title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; 
  margin-top: -40px;
}

.info-section {
  text-align: right;
}

.attendance-info {
  margin: 0;
}

.highlight {
  font-weight: bold;
  font-size: 20px; /* 폰트 크기를 20px로 변경 */
  color: orange; /* 주황색으로 변경 */
}

.branch-name {
  font-weight: bold;
  font-size: 15px; /* 폰트 크기를 20px로 변경 */
  color: orange; 
}