.membership-page {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 80%;
  overflow-y: auto;
}

.membership-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.membership-title,
.membership-title-left {
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #ff6600;
}

.membership-title-left {
  text-align: left;
  width: 100%;
  max-width: 800px;
}

.renewal-days {
  background-color: #ff6600;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 1.2em;
}

.membership-container {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.membership-details {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff5e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.membership-info {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.membership-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.input-group label {
  margin-right: 10px;
  font-size: 1.1em;
}

.input-group input,
.input-group select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  flex: 1;
}

.input-group button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.1em;
  width: auto;
  flex: 0 0 auto;
}

.input-group button:hover {
  background-color: #e65c00;
}

.membership-history-table-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.membership-history-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff5e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.membership-history-table th,
.membership-history-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
}

.membership-history-table th {
  background-color: #ff6600;
  color: white;
}

.membership-history-table td {
  vertical-align: middle; /* 셀 내에서 수직 가운데 정렬 */
}

.view-button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center; /* 버튼 내에서 텍스트 가운데 정렬 */
}

.view-button:hover {
  background-color: #e65c00;
}

.no-history {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #e65c00;
}

.pagination .active {
  background-color: #e65c00;
}

.no-membership {
  background-color: #ffcc99;
  color: #ff6600;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center; /* 수직 중앙 정렬 */
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-membership i {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ff6600;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .membership-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .membership-title,
  .membership-title-left {
    font-size: 1.2em;
  }

  .input-group {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .input-group label,
  .input-group input,
  .input-group select,
  .input-group button {
    width: auto;
    margin-right: 10px;
  }

  .membership-details,
  .membership-history-table-container {
    width: 100%;
    max-width: 100%;
  }

  .membership-history-table th,
  .membership-history-table td {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 5px; /* 패딩 감소 */
  }

  .view-button {
    padding: 3px 7px;
    font-size: 0.9em;
  }

  .pagination button {
    padding: 3px 7px;
    font-size: 0.9em;
  }
}

/* 작은 화면일 때 테이블 크기 줄이기 */
@media (max-width: 480px) {
  .membership-history-table th,
  .membership-history-table td {
    font-size: 0.8em;
    padding: 4px; /* 패딩 추가 감소 */
  }

  .view-button {
    padding: 2px 5px;
    font-size: 0.8em;
  }

  .pagination button {
    padding: 2px 5px;
    font-size: 0.8em;
  }
}
