.mypage-page {
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
}

.user-header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ff6600;
    background-color: #fff;
}

.default-profile-icon {
    color: #ff6600;
    font-size: 2em;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 1.5em;
    font-weight: bold;
}

.user-branch {
    font-size: 1em;
    color: #888;
}

.user-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff6600;
    transition: color 0.3s, transform 0.3s;
}

.action-icon {
    font-size: 2em;
    margin-bottom: 5px;
}

.action-item div {
    font-size: 0.9em;
    color: #ff6600;
}

.action-item:hover {
    color: #e65c00;
    transform: scale(1.05);
}

.mypage-body-info-header {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    padding: 0 15px;
    box-sizing: border-box;
}

.mypage-body-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ff6600;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    color: white;
}

.mypage-body-info-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.mypage-body-info-row div {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    position: relative;
}

.main-number {
    font-weight: bold;
    display: block;
    font-size: 2em;
}

.change {
    font-size: 1em;
    display: block;
}

.positive-change {
    color: lightgreen;
}

.negative-change {
    color: #ffcccb;
}

.main-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

.mypage-edit-button, .mypage-password-button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%;
}

.mypage-edit-button:hover, .mypage-password-button:hover {
    background-color: #e65c00;
}

.mypage-membership-dates, .mypage-remaining-days {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

.mypage-title {
    margin: 10px 0;
    text-align: left;
    color: black;
    font-weight: bold;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .mypage-user-info, .mypage-body-info, .mypage-membership-info {
        width: 100%;
    }

    .mypage-user-details {
        flex-direction: column;
        align-items: center;
    }
}
