.post-form-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .post-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .close-button,
  .submit-button {
    background: none;
    border: none;
    color: #ff6600;
    font-size: 18px;
    cursor: pointer;
  }
  
  .header-title {
    display: flex;
    align-items: center;
  }
  
  .draft {
    margin-right: 10px;
    color: #ff6600;
  }
  
  .submit-button {
    background-color: #ff6600;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
  }
  
  .post-form-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .board-select,
  .post-form-title,
  .post-form-content {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .post-form-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .post-form-content {
    flex-grow: 1;
    resize: none;
    height: 300px;
    margin-bottom: 10px; /* 추가: textarea와 footer 사이의 간격 */
  }
  
  .post-form-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  .footer-icon {
    background: none;
    border: none;
    color: #ff6600;
    font-size: 24px;
    cursor: pointer;
  }
  