.post-form-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 80vh; /* 페이지 높이를 전체 화면에 맞춤 */
  box-sizing: border-box;
  overflow: hidden; /* 폼이 카드 안에서 벗어나지 않도록 설정 */
}

.post-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button,
.submit-button {
  background: none;
  border: none;
  color: #ff6600;
  font-size: 18px;
  cursor: pointer;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px; /* 버튼과 제목 사이의 간격 조정 */
}

.draft {
  color: #ff6600;
  font-size: 16px;
}

.submit-button {
  background-color: #ff6600;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
}

.post-form-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 카드 내에서 스크롤 가능 */
}

.board-select,
.post-form-title {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-form-title {
  font-size: 24px;
  font-weight: bold;
}

.ql-container {
  height: 50vh; /* 에디터 높이 설정 */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 에디터 내용이 많을 경우 스크롤 활성화 */
}

.ql-editor {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 15px;
  line-height: 1.6;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

.ql-editor img {
  width: 33%; /* 이미지의 너비를 1/3로 설정 */
  height: auto;
  display: block;
  margin: 10px auto; /* 이미지 가운데 정렬 */
}

.preview-img-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.preview-img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.delete-img-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
}

.footer-icon {
  background: none;
  border: none;
  color: #ff6600;
  font-size: 24px;
  cursor: pointer;
}

.text-editor {
  min-height: 150px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.text-editor img {
  width: 33%; /* 이미지를 1/3 크기로 조정 */
  height: auto; /* 높이를 비율에 맞게 자동 조정 */
  display: block;
  margin: 10px auto; /* 이미지가 컨테이너 중앙에 위치하도록 조정 */
}

@media (max-width: 768px) {
  .post-form-page {
    padding: 10px;
  }
  .post-form-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .submit-button {
    margin-top: 10px;
  }
  .post-form-title {
    font-size: 18px;
  }
  .post-form-content {
    margin-bottom: 20px;
  }
}
