.post-form-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100vh; /* 페이지 높이를 전체 화면에 맞춤 */
  box-sizing: border-box;
}

.post-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button,
.submit-button {
  background: none;
  border: none;
  color: #ff6600;
  font-size: 18px;
  cursor: pointer;
}

.header-title {
  display: flex;
  align-items: center;
}

.draft {
  margin-right: 10px;
  color: #ff6600;
}

.submit-button {
  background-color: #ff6600;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
}

.post-form-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.board-select,
.post-form-title {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-form-title {
  font-size: 24px;
  font-weight: bold;
}

.post-form-textarea {
  flex-grow: 1;
  resize: none;
  height: 50vh; /* 에디터 높이 설정 */
  margin-bottom: 10px; /* 추가: textarea와 footer 사이의 간격 */
}

@media (max-width: 768px) {
  .post-form-page {
    padding: 10px;
  }
  .post-form-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .submit-button {
    margin-top: 10px;
  }
  .post-form-title {
    font-size: 18px;
  }
  .post-form-content {
    margin-bottom: 20px;
  }
}

.preview-img-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.preview-img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.delete-img-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
}

.footer-icon {
  background: none;
  border: none;
  color: #ff6600;
  font-size: 24px;
  cursor: pointer;
}
