.today-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.today-modal-content {
    background-color: #ffffff; /* 흰색 배경 */
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.today-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ff6600; /* 주황색 */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.today-close-button:hover,
.today-close-button:focus {
    color: #e65c00;
}

.today-modal-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ff6600; /* 주황색 */
    font-weight: bold;
}

.today-exercise-item {
    background: #f9f9f9; /* 연한 회색 배경 */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.today-exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.today-exercise-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff6600; /* 주황색 텍스트 */
}

.today-exercise-time {
    font-size: 1.1em;
    color: #333; /* 어두운 회색 텍스트 */
}

.today-exercise-body {
    margin-top: 10px;
}

.today-exercise-infos {
    margin-bottom: 20px;
}

.today-exercise-info {
    font-size: 1.1em;
    background: #ff6600; /* 주황색 배경 */
    color: white; /* 흰색 텍스트 */
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.today-exercise-ratings {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.today-ratings-group {
    width: 48%;
}

.today-ratings-group h4 {
    margin: 10px 0 5px;
    color: #ff6600;
}

.today-exercise-rating {
    font-size: 1em;
    color: #333;
    padding: 5px;
    background: #f1f1f1; /* 연한 회색 배경 */
    border-radius: 5px;
}

/* 운동이 없을 때 */
.no-workout-message {
    text-align: center;
    color: #ff6600;
    margin-top: 50px;
}

.no-workout-icon {
    font-size: 3em;
    margin-bottom: 10px;
    color: #ff6600;
}

@media (max-width: 768px) {
    .today-modal-content {
        width: 95%;
        padding: 15px;
        max-height: 70%;
    }
    
    .today-close-button {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .today-modal-content {
        width: 100%;
        padding: 10px;
        max-height: 60%;
    }
    
    .today-close-button {
        font-size: 20px;
    }
}
