/* TodayExerciseModal.css */
.today-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5); /* Background with transparency */
}

.today-modal-content {
    background-color: #1e1e1e; /* Dark background color */
    padding: 20px; /* Adjusted padding */
    border-radius: 10px;
    width: 90%; /* Adjusted width */
    max-width: 500px;
    max-height: 90%; /* Ensure the modal doesn't exceed 90% of the viewport height */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds max-height */
    position: relative; /* Position relative to place close button */
}

.today-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.today-close-button:hover,
.today-close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .today-modal-content {
        width: 95%; /* Adjust width for smaller screens */
        padding: 15px; /* Adjusted padding */
        max-height: 100%; /* Use full height for small screens */
    }
    
    .today-close-button {
        font-size: 24px; /* Adjust close button size for smaller screens */
    }
}

@media (max-width: 480px) {
    .today-modal-content {
        width: 100%; /* Adjust width for very small screens */
        padding: 10px; /* Adjusted padding */
        max-height: 100%; /* Use full height for very small screens */
    }
    
    .today-close-button {
        font-size: 20px; /* Adjust close button size for very small screens */
    }
}

.exercise-item {
    background: #2e2e2e;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Ensure long words break to the next line */
}

.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.exercise-title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    flex: 1; /* Allow title to take available space */
    margin-right: 10px; /* Space between title and time */
}

.exercise-time {
    font-size: 1.2em;
    color: #ffa500; /* Orange color */
    white-space: nowrap; /* Prevent breaking to next line */
}

.exercise-body {
    margin-bottom: 20px;
}

.exercise-infos {
    margin-bottom: 10px;
    color: #ffa500;
}

.exercise-info {
    font-size: 1.1em;
    margin-bottom: 5px;
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Ensure long words break to the next line */
}

.exercise-ratings {
    display: flex;
    justify-content: space-between;
}

.ratings-group {
    width: 48%;
}

.ratings-group h4 {
    margin: 10px 0 5px;
    color: white; /* Orange color for rating headers */
}

.exercise-rating {
    margin-left: 10px;
    font-size: 1.1em;
    color: #ffa500;
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Ensure long words break to the next line */
}
