.user-edit-page {
    padding: 20px;
    background-color: #f9f9f9;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: auto; /* Allow scrolling */
  }
  
  .user-edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    color: #ff6600;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-edit-title {
    margin: 0;
    font-size: 1.5em;
  }
  
  .user-edit-back-button,
  .user-edit-check-button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff6600;
  }
  
  .user-edit-back-button:hover,
  .user-edit-check-button:hover {
    color: #e65c00;
  }
  
  .user-edit-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add gap between row items */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ff6600;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .gender-buttons {
    display: flex;
    gap: 10px;
  }
  
  .gender-button {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
  }
  
  .gender-button.active {
    background-color: #ff6600;
    color: white;
    border: 1px solid #ff6600;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
