/* 기본 레이아웃 설정 */
.main-page {
  flex: 1;
  padding-bottom: 80px; /* 푸터와 겹치지 않도록 하단 패딩 추가 */
}

.footer {
  background-color: #000000; /* 검은색 배경 */
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px; /* 고정된 높이 */
  z-index: 1000;
}

.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%; /* 푸터 높이에 맞게 설정 */
  background-color: #000000; /* 검은색 배경 */
}

.menu-item {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item:hover {
  color: #ffffff;
}

.menu-text {
  margin-top: 4px;
  font-size: 12px;
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.footer-text {
  color: white;
  font-size: 1rem;
  margin-top: 5px;
  opacity: 0; /* 처음에는 텍스트를 숨김 */
  transition: opacity 0.3s ease;
}

.attendance-item {
  position: relative;
  top: -20px;
}

.attendance-icon {
  background-color: #000000;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attendance-item .menu-text {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6600;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #e65c00;
}



/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .menu-item {
    font-size: 1.2rem; /* 작은 화면에서 폰트 크기 조정 */
  }

  .menu-text {
    font-size: 10px; /* 작은 화면에서 텍스트 크기 조정 */
  }

  .attendance-icon {
    width: 50px;
    height: 50px;
    font-size: 1.2rem; /* 아이콘 크기 조정 */
  }

  .footer {
    height: 70px; /* 작은 화면에서 푸터 높이 조정 */
  }

  .footer-text {
    font-size: 0.9rem; /* 작은 화면에서 텍스트 크기 조정 */
  }
}

@media (max-width: 480px) {
  .menu-item {
    font-size: 1rem; /* 더 작은 화면에서 폰트 크기 조정 */
  }

  .menu-text {
    font-size: 8px; /* 더 작은 화면에서 텍스트 크기 조정 */
  }

  .attendance-icon {
    width: 45px;
    height: 45px;
    font-size: 1rem; /* 아이콘 크기 더 작게 조정 */
  }

  .footer {
    height: 60px; /* 더 작은 화면에서 푸터 높이 조정 */
  }

  .footer-text {
    font-size: 0.8rem; /* 더 작은 화면에서 텍스트 크기 조정 */
  }
}
